/*FONTS*/
.jacquard-24-charted-regular {
  font-family: "Jacquard 24 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
}
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style:normal;
  font-size: 4vw;
}

.nunito-desc {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3dvw;
}



.my-nerve-cursive {
  font-family: "Mynerve", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
}


html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent;
}

.background {
  background-image: url("../public/cloudsbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 15rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  background-color: #262a25;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}

body {
  color: #262a25
}

/*SIDEBAR*/
#home-icon {
  width: 500px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.sidebar {
  position: fixed;
  background-color: #262a25;
  width: 20rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width .2s ease-in;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
}

.sidebar::-webkit-scrollbar{
  display: none;
}


.sidebar .sidebar-top .toggle-icon {
  width: 56px;
  height: 3rem;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  align-content: center;
  justify-content: center;
}


.sidebar .sidebar-top .toggle-icon:hover {
  background-color: #1b1b1b;
}

.sidebar.inactive .sidebar-top .toggle-icon:hover {
  background-color: #5ecbf7;
}


.sidebar .sidebar-top .toggle-icon img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar .sidebar-top {
  position: relative;
  align-content: center;
  justify-content: center;
}


.sidebar .searchbar input[type=text] {
  border: 0;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #494949;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  box-sizing: border-box;
}

.dividing-line {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #494949;
}

.sidebar.inactive {
  width: 6rem;
  background: #1b1b1b00;
}

.sidebar .sidebar-navigation {
  display: flex;
  align-items: center;
  justify-content: left;

}

.sidebar .sidebar-navigation .nav-item .nav-icon img{
  width: 30px;
  height: 30px;
}

.sidebar ul {
  width: 100%;
}

.sidebar ul li a:hover {
  width: 100%;
  background-color: #1b1b1b;
  cursor: pointer;
}

.sidebar .sidebar-navigation .nav-item .nav-icon{
  display: inline-block;
  padding: 0px 20px;
}

.sidebar .sidebar-navigation .nav-item{
  padding: 10px 0px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}


.sidebar .sidebar-navigation div:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}


/*LIST PAGES*/

.general-page-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
  scrollbar-width: none;
}

.page-base {
  width: 85%;
  border-radius: 10px;
  scrollbar-width: thin;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-color: gray transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.filters-wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #6583aa67;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.filters-wrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;
}

.filters-wrapper select {
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.filters-wrapper input {
  border-radius: 2px;
  border: 0px;
  border-bottom: #1b1b1b 1px;
  height: 2rem;
}

.filters-wrapper img {
  width: 2rem;
  margin: 1rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.filters-wrapper img:hover {
  content: url('assets/icons/filter-2-icon.svg');
}


.page-items {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.page-items div {
  margin: 20px;
  display: flex;
  flex-flow: wrap;
  overflow: visible;
  gap: 15px;
}


.page-items img {
  border-radius: 12px;
  margin: 20px;
  width: 200px;
  box-shadow: 5px 2px 2px #1b1b1b4d;
  transition: width 0.3s;
}



.page-items img:hover {
  width: 250px;
  z-index: 1;
}

.dividing-line-page {
  background-color: #262a257e;
  width: 90%;
  height: 2px;
  border-radius: 5px;
}

div form {
display: flex;
align-content: center;
justify-content:  center;
flex-direction: column;
width: 70%;
text-align: center;
}

/*CHARACTER INDEX PAGE*/

.char-idx {
  height: 100%;
  display: flex;
  gap: 10dvw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.char-idx a {
  width: 20dvw;
}

.char-idx img {
  border-radius: 12px;
  width: 100%;
  box-shadow: 5px 2px 2px #1b1b1b4d;
  transition: width 0.3s;
}

.char-idx img:hover {
  width: 120%;
}



/* ENTRY DETAILS */
.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*CARD COMPONENT*/
.card {
  margin-right: 4em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24dvw;
  height: 40dvw;
  border-radius: 12px;
  color: azure;
}

.card-back {
  background-color: #e0cdaa;
  color: #1b1b1b;
}


/*Intro Component*/
.details-intro-wrapper {
  width: 100dvw;
  margin-top: 30px;
  margin-bottom: 100px;
}

.intro-content {
  width: 20dvw;
}


.book-bg-intro {
  width: 100%;
  height: 70em;
  display: flex;
  flex-basis: 0;
  gap: 10em;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* History Component*/
.history-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.history-wrapper img {
  width: 25dvw;
  height: 100%
}

.content-wrapper img {
  width:25dvw;
  height: auto;
}

.content-wrapper  p, .content-wapper ul, .content-wapper li {
  margin-left: 20px;
  margin-right: 2%;
  background-color: #d1d1d180;
  box-shadow: 1px 2px #262a25;
  border-radius: 5px;
  font-size: 1.3dvw;
}

.content-wrapper > h1 {
  margin-left: 20px;
  margin-right: 10%;
  background-color: #ace6fd80;
  border-radius: 5px;
  font-size: 2.2dvw;
  box-shadow: 1px 2px #262a25;
}
.content-wrapper > h2 {
  margin-left: 22px;
  margin-right: 20%;
  background-color: #f7ddac80;
  border-radius: 5px;
  font-size: 2dvw;
  box-shadow: 1px 2px #262a25;
}

.content-wrapper > h3 {
  margin-left: 22px;
  margin-right: 30%;
  background-color: #accaf780;
  border-radius: 5px;
  font-size: 2dvw;
  box-shadow: 1px 2px #262a25;
}

.content-wrapper a:link {
  color:#db753a;
  text-decoration: none;
}
.content-wrapper a:visited {
  color:#db753a;
  text-decoration: none;
}
.content-wrapper a:hover {
  color: rgb(202, 81, 72);
  text-decoration: none;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.table-container th,
.table-container td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color:#262a25;
}

.table-container th {
	text-align: left;
}

.table-container tr:hover {
	background-color: rgba(255, 255, 255, 0.363);
}
