:root{
  --glass : rgba(255,255,255,0.3)
}

.background {
  background-image: url("../public/cloudsbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 15rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  background-color: #262a25;
  padding: 10px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
}

body {
  color: #262a25
}


#home-icon {
  width: 500px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.sidebar {
  position: fixed;
  background-color: #262a25;
  width: 20rem;
  height: 100vh;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width .2s ease-in;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
}

.sidebar::-webkit-scrollbar{
  display: none;
}


.sidebar .sidebar-top .toggle-icon {
  width: 56px;
  height: 3rem;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  align-content: center;
  justify-content: center;
}


.sidebar .sidebar-top .toggle-icon:hover {
  background-color: #1b1b1b;
}

.sidebar.inactive .sidebar-top .toggle-icon:hover {
  background-color: #5ecbf7;
}


.sidebar .sidebar-top .toggle-icon img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar .sidebar-top {
  position: relative;
  align-content: center;
  justify-content: center;
}


.sidebar .searchbar input[type=text] {
  border: 0;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #494949;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  box-sizing: border-box;
}

.dividing-line {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #494949;
}

.sidebar.inactive {
  width: 6rem;
  background: #1b1b1b00;
}

.sidebar .sidebar-navigation {
  display: flex;
  align-items: center;
  justify-content: left;

}

.sidebar .sidebar-navigation .nav-item .nav-icon img{
  width: 30px;
  height: 30px;
}

.sidebar ul {
  width: 100%;
}

.sidebar ul li a:hover {
  width: 100%;
  background-color: #1b1b1b;
  cursor: pointer;
}

.sidebar .sidebar-navigation .nav-item .nav-icon{
  display: inline-block;
  padding: 0px 20px;
}

.sidebar .sidebar-navigation .nav-item{
  padding: 10px 0px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}


.sidebar .sidebar-navigation div:hover {
  background-color: #1b1b1b;
  cursor: pointer;
}

.form-page {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}


form input {
  height: 25px;
  border-radius: 5px;
  margin: 5px 5px;
  border: 3px #262a25
}

form button {
  border-style: none;
  border-radius: 5px;
  background-color: #262a25;
  color: white;
  width: 100px;
  height: 30px;
}

.general-page-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
  scrollbar-width: none;
}

.page-base {
  width: 85%;
  border-radius: 10px;
  scrollbar-width: thin;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-color: gray transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.filters-wrapper {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #6583aa67;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.filters-wrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;
}

.filters-wrapper select {
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.filters-wrapper input {
  border-radius: 2px;
  border: 0px;
  border-bottom: #1b1b1b 1px;
  height: 2rem;
}

.filters-wrapper img {
  width: 2rem;
  margin: 1rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.filters-wrapper img:hover {
  content: url('assets/icons/filter-2-icon.svg');
}


.page-items {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.page-items div {
  margin: 20px;
  display: flex;
  flex-flow: wrap;
  overflow: visible;
  gap: 15px;
}


.page-items img {
  margin: 20px;
  width: 200px;
  box-shadow: 5px 2px 2px #1b1b1b4d;
  transition: width 0.3s;
}



.page-items img:hover {
  width: 250px;
  z-index: 1;
}

.dividing-line-page {
  background-color: #262a257e;
  width: 90%;
  height: 2px;
  border-radius: 5px;
}

div form {
display: flex;
align-content: center;
justify-content:  center;
flex-direction: column;
width: 70%;
text-align: center;
}

.char-idx {
  height: 100%;
  display: flex;
  gap: 10vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.char-idx a {
  width: 20vw;
}

.char-idx img {
  width: 100%;
  box-shadow: 5px 2px 2px #1b1b1b4d;
  transition: width 0.3s;
}

.char-idx img:hover {
  width: 120%;
}

.select-filter {
}


/* ENTRY DETAILS */
.world-intro {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.world-intro div {
  width: 100%;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
}

.world-intro div img {
  align-self: center;
  justify-self: center;
  
}

.world-intro div > * {
  grid-area: stack;
}

.world-intro div .cover {
  width: 20%;
  align-self: center;
  justify-self:baseline;
  margin-left: 32rem;
  box-shadow: -8px 3px 8px 3px #1b1b1b67;
}

.flip-card {
  width: 20%;
  align-self: center;
  justify-self:baseline;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  align-self: center;
  justify-self:baseline;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}